#!bin/bash
cat << eof > application.properties
service.port=8080
spring.jpa.hibernate.ddl-auto=none
spring.datasource.url=jdbc:postgresql://${DATASOURCE_HOST}:5432/${DATABASE_NAME}?ssl=true&&sslfactory=org.postgresql.ssl.NonValidatingFactory
spring.datasource.username=${DATASOURCE_USERNAME}
spring.datasource.password=${DATASOURCE_PASSWORD}
spring.jpa.properties.hibernate.default_schema=${DATASOURCE_SCHEMA}
eof
