<div class="masthead">
  <div class="grid grid--flush guttered">
    <div class="col-small-7">
      <h1>You're almost set</h1>
      <p>We’ve helped lots of people with similar abilities to those you’ve selected to have fun playing the games they love with their friends and family.</p>
      <p>Take a look at our videos and case studies showing the kind of set ups we’ve provided to people in the same boat.</p>
      </div>
    <div class="col-small-5">
      <div class="masthead_overview">
        <h2>Your information</h2>
        <h4 class="js-masthead-some-list-title masthead_overview_sub-heading">Some control</h4>
        <ul class="js-masthead-some-list masthead_overview_pill-list"></ul>
        <h4 class="js-masthead-good-list-title masthead_overview_sub-heading">Good control</h4>
        <ul class="js-masthead-good-list masthead_overview_pill-list"></ul>
      </div>
    </div>
  </div>
</div>

<div class="main">

  <div class="guttered">



    <h2 class="padded-bottom-double">Gaming gadgets that could work for you</h2>

    <div id="featured-products-area" class="grid padded-bottom-tripple">
      <div class="col-small-12"><p>Call us, we can talk to you about what's good for you</p></div>
    </div> <!-- end grid -->


    <div id="featured-video-area"></div>



    <h2 class="padded-bottom-double padded-top-tripple">Other people with similar kit</h2>
    <div class="grid js-video-list-small">
    </div>
  </div> <!-- end gutttered -->

  <div class="shadow-form-holder">
    <div class="grid super-shadow-form-box guttered text-left">
      <div class="col-small-12">
          <h1>Arrange your 1-to-1 consultation</h1>
        <p>Enter your contact details and we’ll be in touch to organise a 1-to-1 consultation</p>
      </div>
      <div class="col-small-6">
        <label class="form_input-label" for="">Name</label>
        <input type="text" name="inquiry_name" value="">
      </div>
      <div class="col-small-6">
        <label class="form_input-label" for="">Postcode</label>
        <input type="text" name="inquiry_postcode" value="">
      </div>
      <div class="col-small-6">
        <label class="form_input-label" for="">Email</label>
        <input type="text" name="inquiry_email" value="">
      </div>
      <div class="col-small-6">
        <label class="form_input-label" for="">Phone number</label>
        <input type="text" name="inquiry_phone" value="">
      </div>

      <div class="col-small-6">
        <p>What’s the best way to contact you?</p>
        <div class="js-radio-widget">
          <label class="trafficlight-widget_item" for="enquiry_frm_email_radio">
            <input id="enquiry_frm_email_radio" type="radio" name="inquiry_contact_pref" value="Email"> Email</label>
          <label class="trafficlight-widget_item" for="enquiry_frm_phone_radio">
            <input id="enquiry_frm_phone_radio" type="radio" name="inquiry_contact_pref" value="Phone"> Phone</label>
        </div>
      </div>
      <div class="col-small-12 text-right">
        <button class="btn js-submit-step-1">Submit</button>
      </div>
    </div>
  </div> <!-- end shadow-form-holder -->

</div> <!-- end main -->
